### Import libraries

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import os
import codecs
import collections
import nltk
import pickle

### Import companieslist

In [2]:
# Récupére la liste des compagnies privées du domaine spatial
with open('List_private_spaceflight_company.pickle','rb') as fp:
    companieslist = pickle.load(fp)

# Ce dictionnaire est utilisé plus tard pour définir les sources, targets et id
complist = {}
i = 0
for company in companieslist:
    i += 1
    complist[company] = i

# complist

### Initialization of localisation liste

In [3]:
localisation = ['Mercury', 'Venus', 'Moon', 'Mars',
                'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Ce dictionnaire est utilisé plus tard pour définir les sources, targets et id
loclist = {}
for loc in localisation:
    i += 1
    loclist[loc] = i

# loclist

### Initialization of the nodes list use in Gephi software

In [4]:
gephinodelist = {'Id': [], 'Label': [], 'Type': []}
#                  'Start': [], 'End': []}

for key in complist.keys():
    gephinodelist['Label'].append(key)
    gephinodelist['Id'].append(complist[key])
    
for key in loclist.keys():
    gephinodelist['Label'].append(key)
    gephinodelist['Id'].append(loclist[key])
    
for i in range(0,len(gephinodelist['Label'])):
    if gephinodelist['Label'][i] in companieslist:
        gephinodelist['Type'].append('company')
    else:
        gephinodelist['Type'].append('localisation')
#     gephinodelist['Start'].append(2010)
#     gephinodelist['End'].append(2019)
        
df_1 = pd.DataFrame(data=gephinodelist)
df_1

    Id                                Label          Type
0    1               ARCA Space Corporation       company
1    2  Australian Space Research Institute       company
2    3                             Ventions       company
3    4                          Blue Origin       company
4    5                       Canadian Arrow       company
5    6                       Exos Aerospace       company
6    7                    Firefly Aerospace       company
7    8           Gilmour Space Technologies       company
8    9     Generation Orbit Launch Services       company
9   10             Independence-X Aerospace       company
10  11                 Interorbital Systems       company
11  12            Interstellar Technologies       company
12  13                      Lockheed Martin       company
13  14                             OneSpace       company
14  15                                Orbex       company
15  16  Northrop Grumman Innovation Systems       company
16  17                                OTRAG       company
17  18                            PLD Space       company
18  19                     Relativity Space       company
19  20                           Rocket Lab       company
20  21                  Space Services Inc.       company
21  22                               SpaceX       company
22  23               United Launch Alliance       company
23  24                 Vector Space Systems       company
24  25                      Virgin Galactic       company
25  26                        Zero2infinity       company
26  27                              Mercury  localisation
27  28                                Venus  localisation
28  29                                 Moon  localisation
29  30                                 Mars  localisation
30  31                              Jupiter  localisation
31  32                               Saturn  localisation
32  33                               Uranus  localisation
33  34                              Neptune  localisation

In [6]:
df_1.to_excel('NodesList_Gephi.xlsx')

### Fonctions

In [74]:
# Analyse des différents HTML
def analyse_html(html, companieslist):
    soup = BeautifulSoup(html)
    
    articles = soup.find_all('section', class_='content-wrapper')
    item = ''
    for article in articles:
        texts = article.find_all('p')
        for text in texts:
            newitem = text.get_text()
            item = item + newitem + '\n\n'

    comps = set([company for company in companieslist if company in item])

    tockens = nltk.word_tokenize(item)
    locs = set([tocken for tocken in tockens if tocken in localisation])
    
    return comps, locs

In [79]:
gephiedgeslist = {'Source': [], 'Target': [], 'ID': [], 'Type': [], 'Interval': [], 'Weight': []}

id_relationlist = {}
# Affecte une identitée (integer) à chaque relation
# {'13-30': 1, '13-29': 2, '22-29': 3, '22-30': 4
# La relation 13-30 à pour Id 1

ite = 0
weight = {} 
for i in range(0,9):
    print('201' + str(i))

    for file in os.listdir('US02_Python_Project_HTML/Ar_201' + str(i) + '/'):
        if file.endswith('.html'):
            with open('US02_Python_Project_HTML/Ar_201' + str(i) + '/' + file, encoding = 'utf-8') as fp:

                html = fp.read()
                comps, locs = analyse_html(html, companieslist)

                if len(comps) > 0 and len(locs) > 0:
                    indice_complist = [complist[comp] for comp in comps]
                    indice_loclist = [loclist[loc] for loc in locs]
                    
                    for comp in indice_complist:
                        for loc in indice_loclist:
                            relation = str(comp) + '-' + str(loc) # Exemple: 13-30
                            if relation not in id_relationlist.keys():
                                
                                ite += 1
                                id_relationlist[relation] = ite
                                
                                gephiedgeslist['Source'].append(comp)
                                gephiedgeslist['Target'].append(loc)
                                gephiedgeslist['ID'].append(id_relationlist[relation])
                                gephiedgeslist['Type'].append('Directed')
                                gephiedgeslist['Interval'].append('[2010,2019]')
                                gephiedgeslist['Weight'].append(0)
                                weight[ite] = 1
                            else:
                                weight[id_relationlist[relation]] += 1
                                
    for id_re in weight.keys():
        we = weight[id_re]
        if i == 0 or gephiedgeslist['Weight'][id_re-1] == 0:
#             gephiedgeslist['Interval'][id_re-1] = ('[201' + str(i))
            gephiedgeslist['Weight'][id_re-1] = ('[201' + str(i) + ', 201' + str(i+1) + ', ' + str(we) + ']')
        else:
#             gephiedgeslist['Interval'][id_re-1] += ', 201' + str(i)
            gephiedgeslist['Weight'][id_re-1] += '; [201' + str(i) + ', 201' + str(i+1) + ', ' + str(we) + ']'
        weight[id_re] = 0
            
# for j in range(0,len(gephiedgeslist['Interval'])):
#     gephiedgeslist['Interval'][j] += ']'

2010
2011
2012
2013
2014
2015
2016
2017
2018

In [80]:
df_2 = pd.DataFrame(data=gephiedgeslist)
df_2

,Source,Target,ID,Type,Interval,Weight
0,13,30,1,Directed,"[2011,2018]","[2010, 2011, 21]; [2011, 2012, 24]; [2012, 201..."
1,13,29,2,Directed,"[2011,2018]","[2010, 2011, 3]; [2011, 2012, 4]; [2012, 2013,..."
2,22,29,3,Directed,"[2011,2018]","[2010, 2011, 7]; [2011, 2012, 5]; [2012, 2013,..."
3,22,30,4,Directed,"[2011,2018]","[2010, 2011, 20]; [2011, 2012, 42]; [2012, 201..."
4,22,32,5,Directed,"[2011,2018]","[2010, 2011, 2]; [2011, 2012, 7]; [2012, 2013,..."
5,23,30,6,Directed,"[2011,2018]","[2010, 2011, 5]; [2011, 2012, 14]; [2012, 2013..."
6,11,34,7,Directed,"[2011,2018]","[2010, 2011, 2]; [2011, 2012, 0]; [2012, 2013,..."
7,22,33,8,Directed,"[2011,2018]","[2010, 2011, 2]; [2011, 2012, 1]; [2012, 2013,..."
8,25,33,9,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 1]; [2012, 2013,..."
9,25,30,10,Directed,"[2011,2018]","[2010, 2011, 4]; [2011, 2012, 10]; [2012, 2013..."
10,13,32,11,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 3]; [2012, 2013,..."
11,23,32,12,Directed,"[2011,2018]","[2010, 2011, 2]; [2011, 2012, 2]; [2012, 2013,..."
12,22,27,13,Directed,"[2011,2018]","[2010, 2011, 3]; [2011, 2012, 3]; [2012, 2013,..."
13,22,31,14,Directed,"[2011,2018]","[2010, 2011, 2]; [2011, 2012, 3]; [2012, 2013,..."
14,25,27,15,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 3]; [2012, 2013,..."
15,25,31,16,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 2]; [2012, 2013,..."
16,4,30,17,Directed,"[2011,2018]","[2010, 2011, 2]; [2011, 2012, 14]; [2012, 2013..."
17,25,28,18,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 0]; [2012, 2013,..."
18,4,28,19,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 0]; [2012, 2013,..."
19,13,31,20,Directed,"[2011,2018]","[2010, 2011, 2]; [2011, 2012, 4]; [2012, 2013,..."
20,22,28,21,Directed,"[2011,2018]","[2010, 2011, 3]; [2011, 2012, 0]; [2012, 2013,..."
21,25,29,22,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 2]; [2012, 2013,..."
22,13,28,23,Directed,"[2011,2018]","[2010, 2011, 1]; [2011, 2012, 1]; [2012, 2013,..."
23,22,34,24,Directed,"[2011,2018]","[2011, 2012, 1]; [2012, 2013, 0]; [2013, 2014,..."
24,23,33,25,Directed,"[2011,2018]","[2011, 2012, 1]; [2012, 2013, 0]; [2013, 2014,..."
25,23,29,26,Directed,"[2011,2018]","[2011, 2012, 1]; [2012, 2013, 2]; [2013, 2014,..."
26,23,31,27,Directed,"[2011,2018]","[2011, 2012, 7]; [2012, 2013, 2]; [2013, 2014,..."
27,23,34,28,Directed,"[2011,2018]","[2011, 2012, 1]; [2012, 2013, 0]; [2013, 2014,..."
28,23,27,29,Directed,"[2011,2018]","[2011, 2012, 1]; [2012, 2013, 2]; [2013, 2014,..."
29,25,34,30,Directed,"[2011,2018]","[2011, 2012, 1]; [2012, 2013, 0]; [2013, 2014,..."
30,25,32,31,Directed,"[2011,2018]","[2011, 2012, 2]; [2012, 2013, 1]; [2013, 2014,..."
31,13,27,32,Directed,"[2011,2018]","[2011, 2012, 4]; [2012, 2013, 1]; [2013, 2014,..."
32,4,27,33,Directed,"[2011,2018]","[2011, 2012, 2]; [2012, 2013, 1]; [2013, 2014,..."
33,4,31,34,Directed,"[2011,2018]","[2011, 2012, 1]; [2012, 2013, 2]; [2013, 2014,..."
34,4,32,35,Directed,"[2011,2018]","[2012, 2013, 3]; [2013, 2014, 6]; [2014, 2015,..."
35,21,27,36,Directed,"[2011,2018]","[2012, 2013, 1]; [2013, 2014, 0]; [2014, 2015,..."
36,23,28,37,Directed,"[2011,2018]","[2012, 2013, 2]; [2013, 2014, 1]; [2014, 2015,..."
37,4,29,38,Directed,"[2011,2018]","[2013, 2014, 4]; [2014, 2015, 0]; [2015, 2016,..."
38,20,30,39,Directed,"[2011,2018]","[2015, 2016, 3]; [2016, 2017, 0]; [2017, 2018,..."
39,20,29,40,Directed,"[2011,2018]","[2015, 2016, 4]; [2016, 2017, 6]; [2017, 2018,..."
40,20,32,41,Directed,"[2011,2018]","[2015, 2016, 1]; [2016, 2017, 0]; [2017, 2018,..."
41,20,28,42,Directed,"[2011,2018]","[2015, 2016, 1]; [2016, 2017, 0]; [2017, 2018,..."
42,20,31,43,Directed,"[2011,2018]","[2015, 2016, 1]; [2016, 2017, 0]; [2017, 2018,..."
43,4,34,44,Directed,"[2011,2018]","[2015, 2016, 1]; [2016, 2017, 0]; [2017, 2018,..."
44,11,29,45,Directed,"[2011,2018]","[2016, 2017, 1]; [2017, 2018, 3]; [2018, 2019, 1]"
45,6,30,46,Directed,"[2011,2018]","[2016, 2017, 1]; [2017, 2018, 0]; [2018, 2019, 0]"
46,20,34,47,Directed,"[2011,2018]","[2017, 2018, 2]; [2018, 2019, 1]"
47,16,30,48,Directed,"[2011,2018]","[2018, 2019, 1]"
48,7,30,49,Directed,"[2011,2018]","[2018, 2019, 1]"
49,7,29,50,Directed,"[2011,2018]","[2018, 2019, 1]"
50,20,33,51,Directed,"[2011,2018]","[2018, 2019, 1]"
51,20,27,52,Directed,"[2011,2018]","[2018, 2019, 1]"
52,19,30,53,Directed,"[2011,2018]","[2018, 2019, 1]"
53,19,29,54,Directed,"[2011,2018]","[2018, 2019, 1]"

In [81]:
df_2.to_excel('EdgesList_Gephi.xlsx')